/* Layout */
html
{
    box-sizing: border-box;
    overflow-x: hidden;
}
*,:after,:before {box-sizing: inherit}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    background-color: black;
    background-image: url(images/newbgsml.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 18px
}

header
{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    justify-content: center;
    align-items: center;
    flex-direction: row;
    grid-gap: 32px;
    margin: 32px;

    .button-menu {}
}

.content {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 70vw;*/
}

ul {
    list-style-type: square;
    list-style-position: outside;
    padding-inline-start: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

a {
    color: #f0c45c;
    text-decoration: none;
}

a:hover {color: #f0c45c !important;}

h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}
h1,h2,h3,h4,h5,h6
{
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    margin: 10px 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.image-scale-to-width {
    max-width: 100%;
    height: auto
}

.bar {
    width: 100%;
    overflow: hidden
}

.bar .bar-item {
    padding: 8px 16px;
    width: auto;
    border: none;
    display: inline;
    outline: 0
}

.anchor-scroll-padding
{
    scroll-margin-top: 134px;
}

.content-block
{

}
.content-block-title {
    text-transform: uppercase;
    padding-bottom: 16px;

    font-size: 68px !important;
}

.content-block-sub-title {
    font-size: 32px !important;
}

.content-block-text {
    text-align: left;
}

.call-to-action-bar
{
    box-shadow: inset 0px 5px 9px 0px #0007;
}

/* Responsive width tags */
.col{width:100%}

/* Small - sub 600px wide */
.col.s1{width:8.33333%}
.col.s2{width:16.66666%}
.col.s3{width:24.99999%}
.col.s4{width:33.33333%}
.col.s5{width:41.66666%}
.col.s6{width:49.99999%}
.col.s7{width:58.33333%}
.col.s8{width:66.66666%}
.col.s9{width:74.99999%}
.col.s10{width:83.33333%}
.col.s11{width:91.66666%}
.col.s12{width:99.99999%}

/* Medium - between 601px and 993px wide */
@media (min-width:801px)
{
    .col.m1{width:8.33333%}
    .col.m2{width:16.66666%}
    .col.m3{width:24.99999%}
    .col.m4{width:33.33333%}
    .col.m5{width:41.66666%}
    .col.m6{width:49.99999%}
    .col.m7{width:58.33333%}
    .col.m8{width:66.66666%}
    .col.m9{width:74.99999%}
    .col.m10{width:83.33333%}
    .col.m11{width:91.66666%}
    .col.m12{width:99.99999%}
}

/* Large - > 993px wide */
@media (min-width:1081px)
{
    .col.l1{width:8.33333%}
    .col.l2{width:16.66666%}
    .col.l3{width:24.99999%}
    .col.l4{width:33.33333%}
    .col.l5{width:41.66666%}
    .col.l6{width:49.99999%}
    .col.l7{width:58.33333%}
    .col.l8{width:66.66666%}
    .col.l9{width:74.99999%}
    .col.l10{width:83.33333%}
    .col.l11{width:91.66666%}
    .col.l12{width:99.99999%}

    h1 {font-size: 42px}
    h2 {font-size: 36px}
    h3 {font-size: 30px}
    h4 {font-size: 24px}
    h5 {font-size: 20px}
    h6 {font-size: 18px}
}

/* Phone specific changes */
@media (max-width:650px)
{
    .hide-small {display: none !important}
    header {padding-top: 115px !important;}
    .padding-header {padding: 100px 0 100px 0 !important;}
    .header-buttons {grid-gap: 16px; margin: 16px;}
    /*.header-content {flex-direction:column; text-align:center;}
    .header-content .col {width:80%}*/
}
@media (min-width:650px)
{
    .hide-large {display: none !important}
    .mobile-home-button {display:none !important;}
}

/* Navbar */
.top {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    box-shadow: 0px 5px 9px 0px #000;
}

.mobile-home-button {
    align-content: center;
    font-size: 32px;
}

.center {text-align: center !important}

.padding {padding: 8px 16px !important}
.padding-header
{
    padding: 200px 0 200px 0;
}

.padding-header-small {
    padding: 50px 0 50px 0;
}
.padding-row
{
    padding: 64px 16px;
    width: 100%;
}
.padding-sub-row
{
    padding: 16px 16px;
    width: 100%;
}
.padding-16
{
    padding-top: 16px !important;
    padding-bottom: 16px !important
}
.padding-bottom-16 {padding-bottom: 16px;}
.padding-bottom-32 {padding-bottom: 32px;}
.padding-bottom-48 {padding-bottom: 48px;}

/* Buttons */
.button-normal {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    color: #eff6ee !important;
    border: solid #eff6ee;
    cursor: pointer;
    border-radius: 15px;
    padding: 12px 20px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    font-size: 18px;
    margin-top: 16px;
}
.button-normal:hover {
    color: #000 !important;
    background-color: #eff6ee !important;
}
.button-normal a {
    text-decoration: none !important;
    font-size: 20px;
}

.button-menu {
    color: #eff6ee !important;
    background-color: inherit !important;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    font-size: 20px;
    transition: box-shadow 0.25s;
}
.button-menu:hover {
    color: #eff6ee !important;
    box-shadow: inset 0px -4px #f0c45c !important;
}
.button-menu a {
    text-decoration: none !important
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    a {
        color: #eff6ee;
        min-width: 80px;
        min-height: 80px;
    }
    a:hover {
        color: #f0c45c !important;
    }
    i {
        vertical-align: middle;
    }
}

/* Showcase */
.showcase
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
    width: 100%;
}

.showcase-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
    padding-bottom: 16px;
    justify-content: center;
}

.media-showcase-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 600px));
    padding-bottom: 16px;
    justify-content: center;
}

.showcase-card {
    img {

    }

    .dev-name {
        text-align: center;
        margin-bottom: 8px;
    }

    .dev-role {
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .dev-date {
        text-align: center;
        font-size: 1rem;
        margin-top: 8px;
    }

    .dev-event {
        text-align: center;
        font-size: 1rem;
    }

    margin: 8px;
    padding: 16px;
    border-radius: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
}

.showcase-card-media {
    width: 100%;
    aspect-ratio: 2.14;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.showcase-card-text {
    flex: 1;
}

.showcase-card-footer {
}

.showcase-card-hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
    margin: 1em 0;
}

.showcase-grid-footer {
    padding-bottom: 16px;

    .button-normal {
        background-color: #f0c45c;
        color: #000 !important;
        border: solid #000;
        min-width: 320px;
    }
    .button-normal:not(:hover) {
        animation: showcase-glow 2s ease-in-out infinite alternate;
    }
}

@keyframes showcase-glow {
    50% {
        box-shadow: 0 0 10px hsl(42, 83%, 65%);
    }
}

.showcase-readmore {
    text-align: right !important;
}

/* Forms */
form
{
    display: flex;
    flex-direction: column;
}
.form-row
{
    padding-bottom: 16px;
}
label
{
    padding-bottom: 8px;
}
input,textarea,label
{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    width: 100%;
}

/* Sections */
.section-titlebar {
    display: flex;
    flex-direction: row;
    color: #ffffff !important;
    background-color: #000000 !important;

    a {
        text-decoration: none !important;
        color: #ffffff !important;
    }
    h1 {
        font-size: 48px !important;
        display: inherit;
        padding-right: 8px;
    }
    h2 {
        font-size: 18px !important;
        display: inherit;
    }
    .titlebar-left {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        h1,h2 {margin: 0;}
    }
    .social-buttons {
        font-size: 36px;
        a {
            min-width: 60px;
            min-height: 60px;
        }
    }

    @media (max-width: 800px) {
        .social-buttons {display: none;}
        .titlebar-left {
            flex-direction: column;
        }
    }
}

.tagline {color: #f0c45c !important;}

.section-menubar {color: #eff6ee !important; background-color: rgba(0, 0, 0, 0.2) !important; backdrop-filter: blur(10px);}

.section-cta {color: #eff6ee !important; background-color: #d08a27 !important}

.section-header { color: #ffffff !important; background-color: rgba(0, 0, 0, 0) !important;}

.section-about {
    color: #eff6ee !important;
    background-color: #080a0c !important;
    padding: 64px 0 64px 0;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: center;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.about-photo {
    border-radius: 250px;
    width: 250px;
    height: 250px;
}

.about-text {
}

.section-subpage-header {
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    flex-grow: 1;
    backdrop-filter: blur(10px);
}

.section-showcase {
    color: #eff6ee !important; background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
    padding: 64px 0 64px 0;
}

.section-contact {color: #ffffff !important; background-color: rgb(8, 10, 12) !important; backdrop-filter: blur(10px);}

.section-footer {color: #fff !important; background-color: #000 !important}

.section-portfolio-personal { color: #eff6ee !important; background-color: rgba(0, 0, 0, 0.5) !important; backdrop-filter: blur(10px); }

.section-portfolio-professional { color: #eff6ee !important; background-color: #080a0c !important }

.section-media {
    padding-top: 16px;
    color: #eff6ee !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
}

/* Google Fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-400 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-700 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-symbols-400 {
  font-family: "Noto Sans Symbols", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Unity Player */
.unity-player {
    max-height: calc(100vh - 250px);
    aspect-ratio: 16/10;
    border: 0;
    overflow: hidden;
}